@model MMApp.Web.Areas.SecurityGuard.Models.DashboardViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/SecurityGuard/Views/Shared/_SecurityGuardLayoutPage.cshtml";
}
<link href="@Url.Content("~/Content/SecurityGuard/securityguard.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/SecurityGuard/pagination.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Content/SecurityGuard/scripts/jquery-1.6.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/SecurityGuard/scripts/modernizr-1.7.min.js")" type="text/javascript"></script>

<h2>
    Manage Users and Roles</h2>
<p>
    An easy-to-use management system for Membership Users and Roles based on the ASP.NET
    Membership system.</p>
<div class="fl w48pc mr20">
    <fieldset>
        <legend>Manage Users</legend>
        <p>@Html.ActionLink("Manage Users", "Index", "Membership", new { area = "SecurityGuard" }, null)
            | @Html.ActionLink("Create User", "CreateUser", "Membership", new { area = "SecurityGuard" }, null)</p>
        <table>
            <tr>
                <td>
                    Total Users:
                </td>
                <td>@Model.TotalUserCount
                </td>
            </tr>
            <tr>
                <td>
                    Users Online:
                </td>
                <td>@Model.TotalUsersOnlineCount
                </td>
            </tr>
        </table>
    </fieldset>
</div>
<div class="fr w48pc">
    <fieldset>
        <legend>Manage Roles</legend>
        <p>@Html.ActionLink("Manage Roles", "Index", "Role", new { area = "SecurityGuard" }, null)</p>
        <table>
            <tr>
                <td>
                    Total Roles:
                </td>
                <td>@Model.TotalRolesCount
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                </td>
            </tr>
        </table>
    </fieldset>
</div>
