@model IEnumerable<MMApp.Domain.Models.Band>
@using MMApp.Web.Helpers;

@{
    ViewBag.Title = "Index";
}

<h2>List of Countries</h2>
<p>
    @Html.ActionLink("Add Band", "AddBand", "Band")
</p>

@Html.ValidationSummary(true)

<table>
    <tr>
        <th class="width200">
            @Html.DisplayNameFor(model => model.BandName)
        </th>
        <th class="width200">
            @Html.DisplayNameFor(model => model.Website)
        </th>
        <th class="width200">
            @Html.DisplayNameFor(model => model.CountryName)
        </th>
        <th class="width200">
            @Html.DisplayNameFor(model => model.CityName)
        </th>
        <th class="width100">Update</th>
        <th class="width100">Remove</th>
    </tr>

    @foreach(var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BandName)
            </td>
            <td>
                @Html.WebsiteLink(item.Website, item.BandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CityName)
            </td>
            <td>
                @Html.ActionLink("Update", "UpdateBand", "Band", new { bandId = item.Id}, null)
            </td>
            <td>
                @Html.ActionLink("Remove", "RemoveBand", "Band", new { bandId = item.Id, bandName = item.BandName }, new { onclick = "return confirm('Are you sure you wish to delete Band ( " + item.BandName + " ) ?');"})
            </td>
        </tr>
    }

</table>
