@model MMApp.Domain.Models.Genre


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jqueryval")

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @(Html.HiddenFor(model => model.Id))
    
    <table>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td class="labelWidth150">@Html.LabelFor(genre => genre.GenreName)</td>
            <td class="labelWidth150">@Html.TextBoxFor(genre => genre.GenreName)</td>
            <td class="labelWidth150">@Html.ValidationMessageFor(genre => genre.GenreName)</td>
        </tr>
        <tr>
            <td class="labelWidth150 labelPadding">@Html.LabelFor(genre => genre.Website)</td>
            <td colspan="2">@Html.TextBoxFor(genre => genre.Website, new { style = "width:100%;" })</td>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: right">
                    <input type="button" name="Cancel" value="Cancel" onclick="history.back();" />
                    <input type="submit" name="Save" value="Save" />
                </td>
        </tr>
    </table>
}

<script type="text/javascript">
    $(function () {
        $("#GenreName").focus();
    });
</script>