@using MMApp.Web.Helpers
@model MMApp.Domain.Models.Book

@{
    ViewBag.Title = "ShowBook";
}

<h2>@Html.DisplayFor(book => book.BookName)<br/><br/>
    @Html.Image(Model.BookPicture, "Book Picture", "")</h2>

<table>
         <tr>
             <td class="labelWidth200 labelPadding">@Html.LabelFor(book => book.ShortDescription)</td>
             <td colspan="3">@Html.DisplayFor(book => book.ShortDescription, new { style = "width:100%;" })</td>
         </tr>
         <tr>
             <td class="labelWidth150 labelPadding">@Html.LabelFor(book => book.BookDescription)</td>
             <td colspan="3">@Html.TextAreaFor(book => book.BookDescription, new { @rows = 20, @readonly = "readonly", style = "width:100%;" })</td>
         </tr>
         <tr>
             <td class="labelWidth150 labelPadding">@Html.LabelFor(book => book.ISBN10)</td>
             <td>@Html.DisplayFor(book => book.ISBN10)</td>
             <td class="labelWidth150 labelPadding">@Html.LabelFor(book => book.Year)</td>
             <td>@Html.DisplayFor(book => book.Year)</td>
         </tr>
         <tr>
             <td class="labelWidth150 labelPadding">@Html.Label("Publisher")</td>
             <td>@Html.DisplayFor(book => book.PublisherName)</td>
             <td class="labelWidth150 labelPadding">@Html.LabelFor(book => book.Pages)</td>
             <td>@Html.DisplayFor(book => book.Pages)</td>
         </tr>
         <tr>
             <td class="labelWidth150 labelPadding">@Html.LabelFor(book => book.FileSize)</td>
             <td>@Html.DisplayFor(book => book.FileSize)</td>
             <td class="labelWidth150 labelPadding">@Html.LabelFor(book => book.FileFormat)</td>
             <td>@Html.DisplayFor(book => book.FileFormat)</td>
         </tr>
         <tr>
             <td class="labelWidth150 labelPadding">@Html.Label("Authors")</td>
             <td  class="labelWidth150">
                 @Html.ListBoxFor(m => m.SelectedAuthors, new SelectList(Model.SelectedAuthors, "Id", "AuthorName"), new { size = 10, disabled = "disabled", style = "background-color: white;"})
             </td>
         </tr>
    @*<tr>
        <td class="labelWidth150 labelPadding">@Html.LabelFor(book => book.Website)</td>
        <td colspan="2">@Html.WebsiteLink(Model.Website, Model.BookName)</td>
    </tr>*@
     <tr>
        <td colspan="5" style="text-align: right">
            <input type="button" name="Back" value="Back" onclick="history.back();" />
        </td>
    </tr>
</table>
